<div>
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-12 d-flex flex-column align-items-center gap-2">
      <h1 >Add New Member</h1>
      <label for="txtName" class="form-label">Name with initials</label>
      <input type="text" class="form-control text-center" id="txtName" placeholder="Eg: C.D. Kasun Sampath" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <label for="txtContact" class="form-label">Contact Number</label>
      <input type="text" class="form-control text-center" id="txtContact" placeholder="Eg: 012-12345678" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <label for="txtAddress" class="form-label">Address</label>
      <input type="text" class="form-control text-center" id="txtAddress" placeholder="Eg: No:404, Malabe" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center gap-2">
      <button class="btn btn-primary {{newMemberHide}}" type="submit" (click)="newMember()">SAVE</button>
      <button class="btn btn-warning" type="reset">CLEAR</button>
    </div>
  </form>
</div>
