<app-nav></app-nav>
<div class="">
  <div class="d-flex flex-column align-items-center ">
    <h1 class="w-75 text-center fw-bold text-info-emphasis">Book Issue and Handing Over Details</h1>
    <table class="table table-hover table-striped text-center align-middle">
      <thead>
        <tr class="fw-bold
">
          <td>ISBN</td>
          <td>TITLE</td>
          <td>AVAILABILITY</td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>B001</td>
          <td>Harry Potter</td>
          <td> <button class="btn btn-sm btn-primary">Available</button></td>
        </tr>
        <tr>
          <td>B002</td>
          <td>Sky Fall</td>
          <td><button class="btn btn-sm btn-warning">Issued</button></td>
        </tr>
        <tr>
          <td>B003</td>
          <td>The 100</td>
          <td><button class="btn btn-sm btn-primary">Available</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
