<table class="table table-hover table-striped text-center">
  <thead>
  <tr>
    <td>ID</td>
    <td>NAME</td>
    <td>CONTACT</td>
    <td>ADDRESS</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of memberList">
    <td>{{i.id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.contact}}</td>
    <td>{{i.address}}</td>
    <td>
          <span class="material-icons align-middle p-1" (click)="deleteMember(i.id)">
          delete
          </span>
          <span class="material-icons align-middle p-1">
          edit
          </span>

    </td>

  </tr>
  </tbody>
  <tfoot></tfoot>
</table>
