<table class="table table-hover table-striped text-center">
  <thead>
  <tr>
    <td>ID</td>
    <td>NAME</td>
    <td>CONTACT</td>
    <td>ADDRESS</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>M001</td>
    <td>Kasun Sampath</td>
    <td>077-8985648</td>
    <td>Galle</td>
    <td>
          <span class="material-icons align-middle p-1">
          delete
          </span>
      <span class="material-icons align-middle p-1">
          edit
          </span>
    </td>

  </tr>
  </tbody>
  <tfoot></tfoot>
</table>
